<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="severity" value="warning" />
    <property name="fileExtensions" value="java, properties, xml" />

    <module name="TreeWalker">
        <!-- Allow @SuppressWarning -->
        <module name="SuppressWarningsHolder" />
        <module name="MemberName" />
        <module name="NoWhitespaceAfter" />

        <!-- Annotations -->
        <module name="AnnotationLocation" />
        <module name="MissingOverride" />

        <!-- Class Design -->
        <module name="FinalClass" />
        <module name="InterfaceIsType" />
        <module name="VisibilityModifier" />

        <!-- Coding -->
        <module name="EmptyStatement" />
        <module name="EqualsHashCode" />
        <module name="IllegalInstantiation" />
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="MultipleVariableDeclarations" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />

        <!-- Imports -->
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />

        <!-- Javadoc Comments -->
        <module name="InvalidJavadocPosition" />
        <module name="JavadocMethod" />
        <module name="JavadocStyle" />
        <module name="JavadocType" />
        <module name="MissingJavadocMethod">
            <property name="scope" value="public" />
            <property name="allowMissingPropertyJavadoc" value="true" />
        </module>

        <!-- Naming Conventions -->
        <module name="ClassTypeParameterName" />
        <module name="ConstantName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />
    </module>

    <module name="SuppressWarningsFilter"/>
</module>
